@import "../../theme.scss";
.newArrivals {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 80px;
  margin-bottom: 80px;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;

    & h1{
      font-family: 'Volkhov';
      font-size: 40px;
      color: #000;
    }
  }

  &__newCards {
    display: flex;
    align-items: center;

    &--cards {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
